<%- include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title>Post Show Page</title>
</head>
<body>
	<h1>Post Display</h1>
	<h2> post name is <%= post.title %></h2>
	<h3>Post ID: <%=post._id%></h3>
	<h4>Your posts here: </h4>

		<form action="/posts/<%= post._id%>/edit">
			<button>EDIT!</button>
		</form>
		<form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
			<h1>Delete Post</h1>
			<button>Delete</button>
		</form>
	<br>
	<h2>Comment section here</h2>
	<form action="/comments/<%=post._id%>" method="POST">
		<textarea name="text"></textarea>
		<button>Add comment</button>
	</form>
	<br>
	<h3>Comments:</h3>
	<%post.comments.forEach((comment) => {%>
	<p><%= comment.text%></p>
	<small><%=(new Date(comment.date)).toLocaleString() %></small>
	<%})%>


</body>
</html>